# Application
NODE_ENV=development
PORT=3000

# API
API_PREFIX=api
API_VERSION=v1

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m

# SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sudhanshusingh8448@gmail.com
SMTP_PASS=cgirtzqkqfphtrqj
SMTP_FROM="Sponsiwise <noreply@sponsiwise.com>"
